<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static ' /style.css' %)" />
    <title>Blurry Loading</title>
  </head>
  <body>
    
    <section class="bg"></section>
    <div class="loading-text-head">please wait</div>
    <div class="loading-text">{% block content %}.{% endblock %}</div>
  {% load static %} 
    <script src="{%static '/script.js' %}" ></script>
  </body>
</html>